html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh; 
    width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}


body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgba(127, 0, 255, 0.2), rgba(127, 0, 255, 0.2)), 
                url('../../../imagenes y 3D/Imagenes/Fondo_1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(3px); 
    transform: scale(1.18); 
    z-index: -1; 
}

.logowich_arriba{
    height: 75px;
}

.contenedor-fondo {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.barra_superior {
    background: #240022;
    position: fixed; 
    padding: 0.5rem;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 15px 10px rgba(0,0,0,0.3);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;    
    box-sizing: border-box; 
}

.container {    
    background: #240022;
    padding: 3rem;
    border-radius: 15px;
    box-shadow: 15px 15px 10px rgba(255, 255, 255, 0.2);
    width: 400px;
    margin-top: 100px; 
    margin-bottom: 2rem;
}

.iniciar_sesion_relocate{
    color:rgb(255, 255, 255) ;
}
.imagen_logo{
    height: 75px;

}

h2 { text-align: center; color: #FFFFFF; margin-bottom: 1.5rem; font-family: 'Roboto', sans-serif; }
label { display: block; margin-bottom: 5px; color: #ffffff;  font-family: 'Roboto', sans-serif;}
input { width: 100%; padding: 10px; margin-bottom: 20px; border: 1px solid #8A66BC; border-radius: 5px; box-sizing: border-box; }
button { width: 100%; padding: 10px; background-color: #720575; color: white; border: none; border-radius: 5px; cursor: pointer; font-size: 16px; }
button:hover { background-color: #2e032c; }